<fieldset>
    <label>
        <input name="{{name}}" type="{{type}}" value="{{value}}" placeholder="{{getTitle name}}" {{#if disabled}}disabled{{/if}}>
        <span>{{getTitle name}}</span>
    </label>
    {{> messages }}
</fieldset>