<fieldset>
    <label>
        <input name="{{name}}" type="{{type}}" value="{{value}}" placeholder="{{getTitle name}}">
        <span>{{getTitle name}}</span>
        {{> passwordInputToggle }}
    </label>
    {{> formErrors className="input-form-errors"}}
</fieldset>
