<meta content="width=device-width, initial-scale=1" name="viewport" />
<link rel="icon" type="image/png" href="{{#if basePath }}/{{basePath}}{{/if}}/favico.png" />
<meta charset="utf-8" />
<title>{{projectName}}</title>
{{! Themes }}
<link type="text/css" rel="stylesheet" href="{{#if basePath }}/{{basePath}}{{/if}}/style.css" />
<link type="text/css" rel="stylesheet" href="{{#if basePath }}/{{basePath}}{{/if}}/theme.css" />
{{! Managed UI styling }}
<link type="text/css" rel="stylesheet" href="{{#if basePath }}/{{basePath}}{{/if}}/main.css" />