<fieldset>
  <label>
    <input onclick="{{attributes.onclick}}" name="{{attributes.name}}" type="{{attributes.type}}"
           value="{{attributes.value}}" placeholder="{{getNodeLabel .}}" {{#if attributes.disabled}}disabled{{/if}}>
    <span>{{getNodeLabel .}}</span>
    {{> ui_node_input_password_toggle }}
  </label>
  {{> messages }}
</fieldset>
