<fieldset class="checkbox">
  <div class="checkbox-inner">
    <input
      name="{{attributes.name}}"
      type="hidden"
      value="false" />
    <input
      name="{{attributes.name}}"
      id="{{attributes.name}}"
      type="{{attributes.type}}"
      value="true"
      placeholder="{{getNodeLabel .}}"
      {{#if attributes.value}}checked{{/if}}
      {{#if attributes.disabled}}disabled{{/if}} />
    <label for="{{attributes.name}}">
      <!-- Checkbox SVG -->
      <svg width="8" height="7" viewBox="0 0 8 7" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.75 1.8125L2.75 6.8125L0.25 4.3125L1.1875 3.375L2.75 4.9375L6.8125 0.875L7.75 1.8125Z" fill="#F9F9FA" /></svg>
      <span>{{getNodeLabel .}}</span>
    </label>
  </div>
  {{#if messages}}
    <div class="typography-caption">
      {{> messages }}
    </div>
  {{/if}}
</fieldset>
