<div class="input-social-button">
  <button
          class="button"
          onclick="{{attributes.onclick}}"
          name="{{attributes.name}}"
          type="{{attributes.type}}"
          value="{{attributes.value}}"
          {{#if attributes.disabled}}disabled{{/if}}
  >
    <span class="fa-brands fa-{{attributes.value}}"/>
    <div class="button-text">{{getNodeLabel .}}</div>
  </button>
  {{#if messages}}
    <span class="button-helper">
      {{> messages }}
    </span>
  {{/if}}
</div>
