<fieldset>
    <label>
        <input onclick="{{attributes.onclick}}" name="{{attributes.name}}" type="{{attributes.type}}" value="{{attributes.value}}" placeholder="{{getTitle .}}" {{#if attributes.disabled}}disabled{{/if}}>
        <span>{{getTitle .}}</span>
    </label>
    {{> messages }}
</fieldset>