<div class="input-button">
  <button
    class="button"
    onclick="{{attributes.onclick}}"
    name="{{attributes.name}}"
    type="{{attributes.type}}"
    value="{{attributes.value}}"
    {{#if attributes.disabled}}disabled{{/if}}
  >
    {{getNodeLabel .}}
  </button>
  {{#if messages}}
    <span class="button-helper">
      {{> messages }}
    </span>
  {{/if}}
</div>

