<div data-testid="text-{{attributes.id}}">
  <p data-testid="text-{{attributes.id}}-label">
    {{getTitle .}}
  </p>
  <p data-testid="text-{{attributes.id}}-content">
    {{attributes.text.text}}
  </p>
</div>