<div class="col-xs-4">
  <div class="box">
    <div class="input-button">
      <a class="button"
         data-testid="{{testId}}"
        {{#if disabled}}
         aria-disabled="true"
         onclick="return false"
        {{else}}
         aria-disabled="false"
           {{#if link}}
         href="{{baseUrl}}{{link}}"
           {{else}}
         href="{{href}}"
           {{/if}}
        {{/if}}
      >{{label}}
      </a>
    </div>
  </div>
</div>
