<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{baseUrl}}" />
  <link rel="icon"
        type="image/png"
        href="{{baseUrl}}favico.png">
  <meta charset="utf-8">
  <title>{{projectName}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Rubik:wght@300;400;500&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="{{baseUrl}}theme.css">
  <link rel="stylesheet" href="{{baseUrl}}styles.css">
  <link rel="stylesheet" href="{{baseUrl}}flexboxgrid.min.css">
</head>
<body>
<main data-testid="app-express">
  {{{body}}}
</main>
<footer>
  {{> fork_me}}
</footer>
</body>
</html>
