<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <meta charset="utf-8">
    <title>{{projectName}}</title>
    <link rel="stylesheet" href="{{baseUrl}}index.css">
    <link rel="stylesheet" href="{{baseUrl}}typography.css">
    <link rel="stylesheet" href="{{baseUrl}}form.css">
    <link rel="stylesheet" href="{{baseUrl}}auth.css">
</head>
<body>

{{{body}}}

</body>
</html>
