<div class="content">
    {{> header}}
    <div class="container">
        <h2 class="greeting">Welcome, <span class="user-identifier">{{session.identity.traits.email}}</span>!</h2>
        <p>This is where your user-specific .pac file URL will be displayed: <a href="https://{{url}}/pac/{{session.identity.id}}.pac">https://{{url}}/pac/{{session.identity.id}}.pac</a></p>
        <p>
            Instructions for setting your PAC file: 
        </p>
        <p>
            Mac:
        </p>
        <ol>
            <li>
                Go to your System Preferences
            </li>
            <li>
                Go to Network Settings
            </li>
            <li>
                Click on advanced
            </li>
            <li>
                Go to the Proxies tab
            </li>
            <li>
                Click on Automatic Proxy Configuration
            </li>
            <li>
                Paste the URL above into the "URL" field
            </li>
        </ol>
        <p>
            Windows:
        </p>
        <ol>
            <li>
                Open Settings
            </li>
            <li>
                Click Network & Internet
            </li>
            <li>
                Click Proxy
            </li>
            <li>
                In the Automatic Proxy Setup section, set the Use Setup Script switch to On.
            </li>
            <li>
                Paste the URL above into the "Script Address" field
            </li>
        </ol>
    </div>
</div>