<div class="content">
    {{> header}}
    <div class="page-container">
        <h2 class="greeting">Welcome, <span class="user-identifier">{{session.identity.traits.email}}</span>!</h2>
        <p>Allowing geolocation can improve performance but isn't necessary. Click below to prompt geolocation permissions</p>
        <div class="flex-container">
            <button id="geolocate">Prompt Geolocation</button>
        </div>
        <p>
            Instructions for setting your PAC file: <span class="pac-file">https://{{url}}/pac/{{session.identity.id}}.pac</span>
        </p>
        <p>
            Mac:
        </p>
        <ol>
            <li>
                Go to your System Preferences
                <div>
                    <img class="instruction_image" src="Mac_step_1.jpg" alt="">
                </div>
            </li>
            <li>
                Go to Network Settings
                <div>
                    <img class="instruction_image" src="Mac_step_2.jpg" alt="">
                </div>
            </li>
            <li>
                Click on advanced
                <div>
                    <img class="instruction_image" src="Mac_step_3.jpg" alt="">
                </div>
            </li>
            <li>
                Go to the Proxies tab
            </li>
            <li>
                Click on Automatic Proxy Configuration
            </li>
            <li>
                Paste this URL into the URL field
                <div>
                    <p class="pac-file">https://{{url}}/pac/{{session.identity.id}}.pac</p>
                    <img class="instruction_image" src="Mac_steps_456.jpg" alt="">
                </div>
            </li>
        </ol>
        <p>
            Windows:
        </p>
        <ol>
            <li>
                Open Settings
            </li>
            <li>
                Click Network & Internet
                <div>
                    <img class="instruction_image" src="Windows_10_steps_12.jpg" alt="">
                </div>
            </li>
            <li>
                Click Proxy
            </li>
            <li>
                In the Automatic Proxy Setup section, set the Use Setup Script switch to On.
            </li>
            <li>
                Paste this URL into the URL field
                <div>
                    <p class="pac-file">https://{{url}}/pac/{{session.identity.id}}.pac</p>
                    <img class="instruction_image" src="Windows_10_steps_3456.jpg" alt="">
                </div>
            </li>
            <li>
                Don't forget to Save
            </li>
        </ol>
    </div>
    <style>
        .flex-container {
            display: flex;
            justify-content: center;
        }

        #geolocate {
            width: 12rem;
            height: 3rem;
        }

        #geolocate:hover {
            cursor: pointer;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cloneAsObject(obj) {
            if (obj === null || !(obj instanceof Object)) {
                return obj;
            }
            var temp = (obj instanceof Array) ? [] : {};
            for (var key in obj) {
                temp[key] = cloneAsObject(obj[key]);
            }
            return temp;
        }

        function successFunction(locationData) {
            $.ajax({
                url: '/geolocation',
                type: 'GET',
                contentType: 'application/json',
                data: JSON.stringify({ location: cloneAsObject(locationData) })
            })
        }

        document.getElementById('geolocate').onclick = function (event) {
            navigator.geolocation.getCurrentPosition(successFunction, console.error)
        }

        $(navigator.geolocation.getCurrentPosition(successFunction, console.error))
    </script>
</div>
