<div id="login">
  {{{card}}}
  {{#if hydra_login_request}}
      <h2 class="typography-h2 card-title">Sign in</h2>
      <p>To authenticate {{#if hydra_login_request.client.client_name}}{{hydra_login_request.client.client_name}}{{else}}{{hydra_login_request.client.client_id}}{{/if}}</p>
  {{/if}}

  {{> ui_nodes nodes=nodes groups="webauthn" attributes="text/javascript" withoutDefaultGroup=true}}

    <script type="text/javascript">
    document.getElementsByName("webauthn_login_trigger").forEach((v) =>
    { v.addEventListener("click", () => {
    {{{webAuthnHandler}}}
    }) })
  </script>
</div>

