<div class="auth app-container" id="login">
  <div class="card">
    {{#if refresh}}
      <h2 class="typography-h2 card-title">Confirm Action</h2>
    {{else if (eq requested_aal "aal2")}}
      <h2 class="typography-h2 card-title">Two-Factor Authentication</h2>
    {{else}}
      <h2 class="typography-h2 card-title">Sign In</h2>
    {{/if}}

    {{> messages messages=messages className="global"}}

    {{> ui ui=ui}}
  </div>

  {{#if isAuthenticated}}
    <div class="card">
      <div class="card-action">
        <a class="typography-link typography-h2" data-testid="logout-link" href="{{logoutUrl}}">Log out</a>
      </div>
    </div>
  {{else}}
    <div class="card">
      <div class="card-action">
        <a class="typography-link typography-h2" data-testid="cta-link" href="{{signUpUrl}}">Create account</a>
      </div>
    </div>
    <div class="card">
      <div class="card-action">
        <a class="typography-link typography-h2" data-testid="forgot-password" href="recovery">Recover
          your account</a>
      </div>
    </div>
  {{/if}}
</div>
