<div id="signup">

  {{{card}}}
  {{#if hydra_login_request}}
    <p>To authenticate {{#if hydra_login_request.client.client_name}}{{hydra_login_request.client.client_name}}{{else}}{{hydra_login_request.client.client_id}}{{/if}}</p>
  {{/if}}


  <script type="text/javascript">
    eval(document.getElementsByName("webauthn_register_trigger").forEach((v) =>
    { v.addEventListener("click", () => {
    {{{webAuthnHandler}}}
    }) }))
  </script>
</div>

