<div class="spacing-32">

  <div class="spacing-32">
    {{{typography "Session Information" "headline37" "foregroundDefault"}}}

    {{{typography
      "Your browser holds an active Ory Session for {{ slug }} and you are currently logged in as {{ identity.traits.email }} - changing properties inside Acount Settings will be reflected in the decoded Ory Session."
      "small"
      "foregroundMuted"
    }}}
  </div>

  <div class="session-section spacing-32-horizontal">
    {{{sessionCard}}}
  </div>
  
  {{{divider false "divider-left"}}}

</div>