<div id="settings">

  <h2 class="typography-h2 card-title">Profile Management and Security Settings</h2>

  {{{settingsCard "profile"}}}

  {{{settingsCard "password"}}}

  {{{settingsCard "oidc"}}}

  {{{settingsCard "lookupSecret"}}}

  {{{settingsCard "webauthn"}}}

  {{{settingsCard "totp"}}}

</div>