<div class="spacing-32">

  <div class="spacing-32">
    {{{typography "Account Settings" "headline37" "foregroundDefault"}}}
    {{{errorMessages}}}
    {{{divider false "divider-left"}}}
  </div>

    {{{settingsCard "profile"}}}
    {{{settingsCard "password"}}}
    {{{settingsCard "oidc"}}}
    {{{settingsCard "lookupSecret"}}}  
    {{{settingsCard "webauthn"}}}
    {{{settingsCard "totp"}}}

  {{> ui_nodes nodes=nodes groups="webauthn" attributes="text/javascript" withoutDefaultGroup=true}}

    <script type="text/javascript">
    document.getElementsByName("webauthn_register_trigger").forEach((v) =>
    { v.addEventListener("click", () => {
    {{{webAuthnHandler}}}
    }) })
  </script>

</div>