<div id="settings">

  {{{typography "Profile Management and Security Settings" "headline37" "foregroundDefault"}}}

  {{{errorMessages}}}

  {{{settingsCard "profile"}}}

  {{{settingsCard "password"}}}

  {{{settingsCard "oidc"}}}

  {{{settingsCard "lookupSecret"}}}

  {{{settingsCard "webauthn"}}}

  {{{settingsCard "totp"}}}

  {{> ui_nodes nodes=nodes groups="webauthn" attributes="text/javascript" withoutDefaultGroup=true}}

    <script type="text/javascript">
    eval(document.getElementsByName("webauthn_register_trigger").forEach((v) =>
    { v.addEventListener("click", () => {
    {{{webAuthnHandler}}}
    }) }))
  </script>

</div>