<div class="spacing-32">
  <div class="spacing-32">
    {{{typography
      "Welcome to the Ory Account Experience!"
      "headline37"
      "foregroundDefault"
    }}}
    {{{typography
      "Let your customers sign up, log in and manage their account using Ory’s standard experience. Here you can preview, test and learn to integrate it into your application."
      "small"
      "foregroundMuted"
    }}}
    {{{projectInfoText}}}
    {{{divider false "divider-left"}}}
  </div>
  
  <div class="spacing-8">
    {{{typography "Core concepts" "headline26" "foregroundDefault"}}}
    {{{typography
      "Here are some useful documentation pieces that help you get started right away."
      "small"
      "foregroundMuted"
    }}}
  </div>
  <div class="wrap-content spacing-16-horizontal">
    {{{concepts}}}
  </div>
  {{{divider false "divider-left"}}}
</div>