<div class="spacing-32">
  <div class="spacing-32">
    {{{typography
      "Welcome to Ory's Hosted UI"
      "headline37"
      "foregroundDefault"
    }}}
    {{{typography
      "This UI implements a run-of-the-mill user interface for all self-service flows (login, registration, recovery, verification, settings). The purpose of this UI is to help you get started quickly. In the long run, you probably want to implement your own custom user interface by forking this project on GitHub. Sign up or sign in to your application to receive and view Session Information or to view Account Settings."
      "small"
      "foregroundMuted"
    }}}
    {{{divider false "divider-left"}}}
  </div>
  
  <div class="spacing-8">
    {{{typography "Core concepts" "headline26" "foregroundDefault"}}}
    {{{typography
      "Here are some useful documentation pieces that help you get started right away."
      "small"
      "foregroundMuted"
    }}}
  </div>
  <div class="wrap-content spacing-16-horizontal">
    {{{concepts}}}
  </div>
</div>