<div id="welcome" class="app-container">
  {{{nav}}}
  <div class="welcome-container">
    <div>
      {{{typography
        "Welcome to Ory's Hosted UI"
        "headline37"
        "foregroundDefault"
      }}}
      {{{typography
        "This UI implements a run-of-the-mill user interface for all self-service flows (login, registration, recovery, verification, settings). The purpose of this UI is to help you get started quickly. In the long run, you probably want to implement your own custom user interface by forking this project on GitHub. Sign up or sign in to your application to receive and view Session Information or to view Account Settings."
        "small"
        "foregroundMuted"
      }}}
    </div>
    {{{divider false}}}
  </div>

  {{!-- <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="box">
            <h2 class="typography-h3">Documentation</h2>
            <p class="typography-paragraph">
              Here are some useful documentation pieces that help you get started.
            </p>
            <div class="row">
              {{> ui_docs_button testId="get-started" href="https://www.ory.sh/docs/guides/protect-page-login" label="Get Started"}}
              {{> ui_docs_button testId="user-flows" href="https://www.ory.sh/docs/concepts/self-service" label="User Flows"}}
              {{> ui_docs_button testId="identities" href="https://www.ory.sh/docs/concepts/identity" label="Identities"}}
              {{> ui_docs_button testId="sessions" href="https://www.ory.sh/docs/concepts/session" label="Sessions"}}
              {{> ui_docs_button testId="customize-ui" href="https://www.ory.sh/docs/guides/bring-your-user-interface" label="Bring Your Own UI"}}
            </div>
          </div>
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="box">
            <h2 class="typography-h3">Session Information</h2>
            <p class="typography-paragraph">
              Below you will find the decoded Ory Session if you are logged in.
            </p>
            <pre class="code-box"><code>{{session}}</code></pre>
          </div>
        </div>
      </div>
    </div> --}}

</div>